---
version: '3.8'

services:
  {{ app_name }}:
    image: "{{ docker_image }}:{{ docker_tag }}"
    container_name: "{{ app_name }}"
    ports:
      - "{{ app_port }}:{{ app_internal_port }}"
{% if (app_env | default({})) %}
    environment:
{% for key, value in (app_env | default({})).items() %}
      - "{{ key }}={{ value }}"
{% endfor %}
{% endif %}
    restart: unless-stopped
