name: build-rust-app

on:
  push:
    paths:
      - ".github/workflows/rust-ci.yml"
      - "app_rust/**"
  workflow_dispatch:

jobs:
  lint-and-test:
    name: Lint and Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app_rust/

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('app_rust/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Check formatting
        run: |
          cargo fmt -- --check

      - name: Run clippy linter
        run: |
          cargo clippy --all-features

      - name: Install Nextest
        uses: taiki-e/install-action@nextest

      - name: Run Cargo Nextest
        run: |
          cargo nextest run

  build-and-push:
    name: Build and Push Docker Image
    needs: lint-and-test
    runs-on: ubuntu-latest
    if: success()
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate calendar version
        id: version
        run: |
          VERSION=$(date +'%Y.%-m.%-d')

          SHORT_SHA=$(git rev-parse --short HEAD)
          echo "VERSION=$VERSION" >>$GITHUB_ENV
          echo "TAGS=asqarslanov/devops-lab03-rust:$VERSION,asqarslanov/devops-lab03-rust:$VERSION-$SHORT_SHA" >>$GITHUB_ENV
          echo "LATEST_TAG=asqarslanov/devops-lab03-rust:latest" >>$GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./app_rust/
          push: true
          tags: |
            ${{ env.TAGS }}
            ${{ env.LATEST_TAG }}
          labels: |
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
